[submodule "Assignments/HW6_TSPArt/HW6_TSPArt"]
	path = Assignments/HW6_TSPArt/HW6_TSPArt
	url = https://github.com/ursinus-cs271-f2023/HW6_TSPArt.git
[submodule "Assignments/HW1_HashTable/HW1_HashTable"]
	path = Assignments/HW1_HashTable/HW1_HashTable
	url = https://github.com/ursinus-cs271-f2023/HW1_HashTable.git
[submodule "Assignments/HW3_SeamCarving/HW3_SeamCarving"]
	path = Assignments/HW3_SeamCarving/HW3_SeamCarving
	url = https://github.com/ursinus-cs271-f2023/HW3_SeamCarving.git
[submodule "Labs/Lab2_UnionFind/Lab2_UnionFind"]
	path = Labs/Lab2_UnionFind/Lab2_UnionFind
	url = https://github.com/ursinus-cs271-f2023/Lab2_UnionFind.git
[submodule "Assignments/HW2_PlantCellSegmentation/HW2_PlantCellSegmentation"]
	path = Assignments/HW2_PlantCellSegmentation/HW2_PlantCellSegmentation
	url = https://github.com/ursinus-cs271-f2023/HW2_PlantCellSegmentation.git
