[submodule "ClassExercises/Week2_LinkedList/Week2_LinkedList"]
	path = ClassExercises/Week2_LinkedList/Week2_LinkedList
	url = https://github.com/ursinus-cs371-s2022/Week2_LinkedList.git
[submodule "ClassExercises/Week3_Hash/Week3_HashingExperiments"]
	path = ClassExercises/Week3_Hash/Week3_HashingExperiments
	url = https://github.com/ursinus-cs371-s2022/Week3_HashingExperiments.git
[submodule "ClassExercises/Week4_DiscoveringUnionFind/Week4_UnionFind"]
	path = ClassExercises/Week4_DiscoveringUnionFind/Week4_UnionFind
	url = https://github.com/ursinus-cs371-s2022/Week4_UnionFind.git
[submodule "Labs/Lab2_UnionFind/Lab2_UnionFind"]
	path = Labs/Lab2_UnionFind/Lab2_UnionFind
	url = https://github.com/ursinus-cs371-s2022/Lab2_UnionFind.git
[submodule "ClassExercises/Week4_ArrayList/Week4_ArrayList"]
	path = ClassExercises/Week4_ArrayList/Week4_ArrayList
	url = https://github.com/ursinus-cs174-s2022/Week4_ArrayList.git
[submodule "Assignments/HW2_PlantCellSegmentation/HW2_PlantCellSegmentation"]
	path = Assignments/HW2_PlantCellSegmentation/HW2_PlantCellSegmentation
	url = https://github.com/ursinus-cs371-s2022/HW2_PlantCellSegmentation.git
[submodule "Labs/Lab3_Towers/Lab3_TowersOfHanoi"]
	path = Labs/Lab3_Towers/Lab3_TowersOfHanoi
	url = https://github.com/ursinus-cs371-s2022/Lab3_TowersOfHanoi.git
[submodule "ClassExercises/Week5_EditBacktracing/Week5_EditBacktracing"]
	path = ClassExercises/Week5_EditBacktracing/Week5_EditBacktracing
	url = https://github.com/ursinus-cs371-s2022/Week5_EditBacktracing.git
[submodule "Assignments/HW3_SeamCarving/HW3_SeamCarving"]
	path = Assignments/HW3_SeamCarving/HW3_SeamCarving
	url = https://github.com/ursinus-cs371-s2022/HW3_SeamCarving.git
[submodule "Labs/Lab5_MergeSort/Lab5_MergeSort"]
	path = Labs/Lab5_MergeSort/Lab5_MergeSort
	url = https://github.com/ursinus-cs371-s2022/Lab5_MergeSort.git
[submodule "Assignments/HW4_FairElections/HW4_FairElections"]
	path = Assignments/HW4_FairElections/HW4_FairElections
	url = https://github.com/ursinus-cs371-s2022/HW4_FairElections.git
[submodule "ClassExercises/Week9_RadixSort/Week9_RadixSort"]
	path = ClassExercises/Week9_RadixSort/Week9_RadixSort
	url = https://github.com/ursinus-cs371-s2022/Week9_RadixSort.git
[submodule "ClassExercises/Week9_SortingNetworks/Week9_SortingNetworks"]
	path = ClassExercises/Week9_SortingNetworks/Week9_SortingNetworks
	url = https://github.com/ursinus-cs371-s2022/Week9_SortingNetworks.git
[submodule "ClassExercises/Week10_Trees/Week10_Trees"]
	path = ClassExercises/Week10_Trees/Week10_Trees
	url = https://github.com/ursinus-cs371-s2022/Week10_Trees.git
[submodule "Labs/Lab6_TreeRemoval/Lab6_TreeRemoval"]
	path = Labs/Lab6_TreeRemoval/Lab6_TreeRemoval
	url = https://github.com/ursinus-cs371-s2022/Lab6_TreeRemoval.git
[submodule "ClassExercises/Week11_Kruskal/Week11_Kruskal"]
	path = ClassExercises/Week11_Kruskal/Week11_Kruskal
	url = https://github.com/ursinus-cs371-s2022/Week11_Kruskal.git
