[submodule "ClassExercises/Week2_LinkedList/Week2_LinkedList"]
	path = ClassExercises/Week2_LinkedList/Week2_LinkedList
	url = https://github.com/ursinus-cs371-s2022/Week2_LinkedList.git
[submodule "ClassExercises/Week3_Hash/Week3_HashingExperiments"]
	path = ClassExercises/Week3_Hash/Week3_HashingExperiments
	url = https://github.com/ursinus-cs371-s2022/Week3_HashingExperiments.git
[submodule "ClassExercises/Week4_DiscoveringUnionFind/Week4_UnionFind"]
	path = ClassExercises/Week4_DiscoveringUnionFind/Week4_UnionFind
	url = https://github.com/ursinus-cs371-s2022/Week4_UnionFind.git
[submodule "Labs/Lab2_UnionFind/Lab2_UnionFind"]
	path = Labs/Lab2_UnionFind/Lab2_UnionFind
	url = https://github.com/ursinus-cs371-s2022/Lab2_UnionFind.git
[submodule "ClassExercises/Week4_ArrayList/Week4_ArrayList"]
	path = ClassExercises/Week4_ArrayList/Week4_ArrayList
	url = https://github.com/ursinus-cs174-s2022/Week4_ArrayList.git
[submodule "Assignments/HW2_PlantCellSegmentation/HW2_PlantCellSegmentation"]
	path = Assignments/HW2_PlantCellSegmentation/HW2_PlantCellSegmentation
	url = https://github.com/ursinus-cs371-s2022/HW2_PlantCellSegmentation.git
[submodule "Labs/Lab3_Towers/Lab3_TowersOfHanoi"]
	path = Labs/Lab3_Towers/Lab3_TowersOfHanoi
	url = https://github.com/ursinus-cs371-s2022/Lab3_TowersOfHanoi.git
[submodule "ClassExercises/Week5_EditBacktracing/Week5_EditBacktracing"]
	path = ClassExercises/Week5_EditBacktracing/Week5_EditBacktracing
	url = https://github.com/ursinus-cs371-s2022/Week5_EditBacktracing.git
[submodule "Assignments/HW3_SeamCarving/HW3_SeamCarving"]
	path = Assignments/HW3_SeamCarving/HW3_SeamCarving
	url = https://github.com/ursinus-cs371-s2022/HW3_SeamCarving.git
[submodule "Labs/Lab5_MergeSort/Lab5_MergeSort"]
	path = Labs/Lab5_MergeSort/Lab5_MergeSort
	url = https://github.com/ursinus-cs371-s2022/Lab5_MergeSort.git
